<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <style>
        body{
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<h1>Locations List</h1>

<th:block sec:authorize="hasRole('ROLE_ADMIN')">
<p>ADMIN ROLE TEST</p>
</th:block>
<th:block sec:authorize="hasRole('ROLE_USER')">
    <p>USER ROLE TEST</p>
</th:block>
<main>
    <h3 style="color: maroon" th:text="${error}"></h3>
    <h2>Choose a location:</h2>
    <ul style="list-style-type:none">
        <li th:each="location : ${locations}">
            <label th:text="${location.name}"></label><br/>
        </li>
    </ul>
</main>



</body>
</html>
